*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Black Han Sans', sans-serif;
}
.container{
    text-align: center;
    padding: 15em 0;
    background: #222;
    width: 100%;
    border:1px solid #ccc;
    background-image: url(/resource/ezgif.com-gif-maker.gif);
}
.title{
    color:white;
}
.js-animate-rot{
    animation:rot 0.25s ease 2;
    font-size:1.4em;
}

@keyframes rot{
    0%{transform:rotateZ(0)}
    25%{transform:rotateZ(3deg)}
    50%{transform:rotateZ(0)}
    75%{transform:rotateZ(-3deg)}
    100%{transform:rotateZ(0)}
}