*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Black Han Sans', sans-serif;
}
.container{
    text-align: center;
    padding: 15em 0;
    background: #222;
    width: 100%;
    border:1px solid #ccc;
    background-image: url(https://makeanithing.github.io/makeanithing/resource/ezgif.com-gif-maker.gif);
    background-position: center;
}
.container .title{
    color:white;
    font-size:2em;
    cursor: grab;
}
.red{
    color:lightcoral;
}
.blue{
    color:lightseagreen;
}
.green{
    color:lightgreen;
}
.js-animate-rot{
    animation:rot 0.25s ease 2;
}

@keyframes rot{
    0%{transform:rotateZ(0)}
    25%{transform:rotateZ(3deg)}
    50%{transform:rotateZ(0)}
    75%{transform:rotateZ(-3deg)}
    100%{transform:rotateZ(0)}
}

.dialog{
    position: relative;
    top:10%;
    left:50%;
    width:45%;
    min-width: 300px;
    transform: translate(-50%);
    border: 1px solid lightsteelblue;
    border-radius: 0.3em;
    background-color: white;
}

.dialog-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightsteelblue;
}

.dialog-header .dialog-close{
    cursor:pointer;
    border:none;
    outline: none;
    background: none;
}

.dialog-body{
    padding: 10px 15px;  
    text-align: center;
}

.input-field{
    border: 1px solid gray;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;
}

.input-field label{
    display: block;
    text-align: left;
    color: #333;
    font-size: 14px;
}

.input-field input, .input-field textarea{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
}

.titlebtn{
    width: 40%;
    display: inline-block;
}

.btn{
    display: inline-block;
    background: lightseagreen;
    padding: 14px 0;
    color: white;
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
    font-size:2em;
}

#overlay{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
    overflow: auto;  
}